In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
df = pd.read_csv("city_day.csv")
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [3]:
df.shape

(29531, 16)

In [4]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
PM2.5,24933.0,67.450578,64.661449,0.04,28.820,48.57,80.5900,949.99
PM10,18391.0,118.127103,90.605110,0.01,56.255,95.68,149.7450,1000.00
NO,25949.0,17.574730,22.785846,0.02,5.630,9.89,19.9500,390.68
NO2,25946.0,28.560659,24.474746,0.01,11.750,21.69,37.6200,362.21
NOx,25346.0,32.309123,31.646011,0.00,12.820,23.52,40.1275,467.63
NH3,19203.0,23.483476,25.684275,0.01,8.580,15.85,30.0200,352.89
CO,27472.0,2.248598,6.962884,0.00,0.510,0.89,1.4500,175.81
SO2,25677.0,14.531977,18.133775,0.01,5.670,9.16,15.2200,193.86
O3,25509.0,34.491430,21.694928,0.01,18.860,30.84,45.5700,257.73
Benzene,23908.0,3.280840,15.811136,0.00,0.120,1.07,3.0800,455.03
Toluene,21490.0,8.700972,19.969164,0.00,0.600,2.97,9.1500,454.85
Xylene,11422.0,3.070128,6.323247,0.00,0.140,0.98,3.3500,170.37
AQI,24850.0,166.463581,140.696585,13.00,81.000,118.00,208.0000,2049.00

In [5]:
df[['year','month','day']]=df['Date'].str.split('-',expand=True)

In [6]:
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,year,month,day
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN,2015,01,01
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN,2015,01,02
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN,2015,01,03
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN,2015,01,04
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN,2015,01,05

In [7]:
df.drop("Date",axis=1,inplace=True)

In [8]:
df.head()

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,year,month,day
0,Ahmedabad,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN,2015,01,01
1,Ahmedabad,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN,2015,01,02
2,Ahmedabad,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN,2015,01,03
3,Ahmedabad,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN,2015,01,04
4,Ahmedabad,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN,2015,01,05

In [9]:
data=df.copy()

In [10]:
data.head()

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,year,month,day
0,Ahmedabad,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN,2015,01,01
1,Ahmedabad,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN,2015,01,02
2,Ahmedabad,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN,2015,01,03
3,Ahmedabad,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN,2015,01,04
4,Ahmedabad,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN,2015,01,05

In [11]:
data.shape

(29531, 18)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   PM2.5       24933 non-null  float64
 2   PM10        18391 non-null  float64
 3   NO          25949 non-null  float64
 4   NO2         25946 non-null  float64
 5   NOx         25346 non-null  float64
 6   NH3         19203 non-null  float64
 7   CO          27472 non-null  float64
 8   SO2         25677 non-null  float64
 9   O3          25509 non-null  float64
 10  Benzene     23908 non-null  float64
 11  Toluene     21490 non-null  float64
 12  Xylene      11422 non-null  float64
 13  AQI         24850 non-null  float64
 14  AQI_Bucket  24850 non-null  object
 15  year        29531 non-null  object
 16  month       29531 non-null  object
 17  day         29531 non-null  object
dtypes: float64(13), object(5)
memory usage: 4.1+ MB

In [13]:
data.isnull().sum()

City              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
year              0
month             0
day               0
dtype: int64

In [14]:
data = data.drop(["PM10","NH3","Xylene"],axis=1)
data.head()

,City,PM2.5,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket,year,month,day
0,Ahmedabad,NaN,0.92,18.22,17.15,0.92,27.64,133.36,0.00,0.02,NaN,NaN,2015,01,01
1,Ahmedabad,NaN,0.97,15.69,16.46,0.97,24.55,34.06,3.68,5.50,NaN,NaN,2015,01,02
2,Ahmedabad,NaN,17.40,19.30,29.70,17.40,29.07,30.70,6.80,16.40,NaN,NaN,2015,01,03
3,Ahmedabad,NaN,1.70,18.48,17.97,1.70,18.59,36.08,4.43,10.14,NaN,NaN,2015,01,04
4,Ahmedabad,NaN,22.10,21.42,37.76,22.10,39.33,39.31,7.01,18.89,NaN,NaN,2015,01,05

In [15]:
data.dropna(inplace=True)
data.head()

,City,PM2.5,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket,year,month,day
28,Ahmedabad,83.13,6.93,28.71,33.72,6.93,49.52,59.76,0.02,0.00,209.0,Poor,2015,01,29
29,Ahmedabad,79.84,13.85,28.68,41.08,13.85,48.49,97.07,0.04,0.00,328.0,Very Poor,2015,01,30
30,Ahmedabad,94.52,24.39,32.66,52.61,24.39,67.39,111.33,0.24,0.01,514.0,Severe,2015,01,31
31,Ahmedabad,135.99,43.48,42.08,84.57,43.48,75.23,102.70,0.40,0.04,782.0,Severe,2015,02,01
32,Ahmedabad,178.33,54.56,35.31,72.80,54.56,55.04,107.38,0.46,0.06,914.0,Severe,2015,02,02

In [16]:
data.shape

(16984, 15)

In [17]:
from sklearn.preprocessing import OrdinalEncoder
a = OrdinalEncoder()
data[["city"]] = a.fit_transform(data[["City"]])
data[["Remark"]] = a.fit_transform(data[["AQI_Bucket"]])
data[["City","city","AQI_Bucket","Remark"]]

                City  city    AQI_Bucket  Remark
28         Ahmedabad   0.0          Poor     2.0
29         Ahmedabad   0.0     Very Poor     5.0
30         Ahmedabad   0.0        Severe     4.0
31         Ahmedabad   0.0        Severe     4.0
32         Ahmedabad   0.0        Severe     4.0
...              ...   ...           ...     ...
29525  Visakhapatnam  17.0          Good     0.0
29526  Visakhapatnam  17.0          Good     0.0
29527  Visakhapatnam  17.0  Satisfactory     3.0
29528  Visakhapatnam  17.0  Satisfactory     3.0
29529  Visakhapatnam  17.0  Satisfactory     3.0

[16984 rows x 4 columns]

In [18]:
data["City"].unique()

array(['Ahmedabad', 'Aizawl', 'Amaravati', 'Amritsar', 'Bengaluru',
       'Chandigarh', 'Chennai', 'Coimbatore', 'Delhi', 'Gurugram',
       'Hyderabad', 'Jaipur', 'Kolkata', 'Lucknow', 'Patna', 'Shillong',
       'Talcher', 'Visakhapatnam'], dtype=object)

In [19]:
data["day"] = data["day"].astype("int64")
data["month"] = data["month"].astype("int64")
data["year"] = data["year"].astype("int64")

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16984 entries, 28 to 29529
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        16984 non-null  object
 1   PM2.5       16984 non-null  float64
 2   NO          16984 non-null  float64
 3   NO2         16984 non-null  float64
 4   NOx         16984 non-null  float64
 5   CO          16984 non-null  float64
 6   SO2         16984 non-null  float64
 7   O3          16984 non-null  float64
 8   Benzene     16984 non-null  float64
 9   Toluene     16984 non-null  float64
 10  AQI         16984 non-null  float64
 11  AQI_Bucket  16984 non-null  object
 12  year        16984 non-null  int64
 13  month       16984 non-null  int64
 14  day         16984 non-null  int64
 15  city        16984 non-null  float64
 16  Remark      16984 non-null  float64
dtypes: float64(12), int64(3), object(2)
memory usage: 2.3+ MB

In [21]:
data

,City,PM2.5,NO,NO2,NOx,CO,SO2,O3,Benzene,Toluene,AQI,AQI_Bucket,year,month,day,city,Remark
28,Ahmedabad,83.13,6.93,28.71,33.72,6.93,49.52,59.76,0.02,0.00,209.0,Poor,2015,1,29,0.0,2.0
29,Ahmedabad,79.84,13.85,28.68,41.08,13.85,48.49,97.07,0.04,0.00,328.0,Very Poor,2015,1,30,0.0,5.0
30,Ahmedabad,94.52,24.39,32.66,52.61,24.39,67.39,111.33,0.24,0.01,514.0,Severe,2015,1,31,0.0,4.0
31,Ahmedabad,135.99,43.48,42.08,84.57,43.48,75.23,102.70,0.40,0.04,782.0,Severe,2015,2,1,0.0,4.0
32,Ahmedabad,178.33,54.56,35.31,72.80,54.56,55.04,107.38,0.46,0.06,914.0,Severe,2015,2,2,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29525,Visakhapatnam,7.63,5.91,23.27,17.19,0.46,6.87,19.90,1.45,5.37,47.0,Good,2020,6,26,17.0,0.0
29526,Visakhapatnam,15.02,7.68,25.06,19.54,0.47,8.55,23.30,2.24,12.07,41.0,Good,2020,6,27,17.0,0.0
29527,Visakhapatnam,24.38,3.42,26.06,16.53,0.52,12.72,30.14,0.74,2.21,70.0,Satisfactory,2020,6,28,17.0,3.0
29528,Visakhapatnam,22.91,3.45,29.53,18.33,0.48,8.42,30.96,0.01,0.01,68.0,Satisfactory,2020,6,29,17.0,3.0
29529,Visakhapatnam,16.64,4.05,29.26,18.80,0.52,9.84,28.30,0.00,0.00,54.0,Satisfactory,2020,6,30,17.0,3.0

In [22]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,r2_score

In [23]:
data1=data.drop(["City","AQI_Bucket","Remark"],axis=1)
train=data1.drop("AQI",axis=1)
test=data1["AQI"]
lr=LinearRegression().fit(train,test)
r2_score(test,lr.predict(train))

0.8634520599190977

In [24]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 50)
clf.fit(train,test)

RandomForestClassifier(n_estimators=50)

In [25]:
r2_score(test,lr.predict(train))

0.8634520599190977

In [26]:
x = data[["AQI"]]
y = data[["Remark"]]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5,random_state=42)


rem = RandomForestClassifier(n_estimators = 5).fit(x,y)

C:\Users\HP\AppData\Local\Temp\ipykernel_16044\2328549294.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rem = RandomForestClassifier(n_estimators = 5).fit(x,y)

In [27]:
r2_score(y,rem.predict(x))

1.0

In [28]:
from tkinter import *
from PIL import Image, ImageTk

root = Tk()
root.title("Air Quality Index")
def airinfo():
    try:
        click = option.index(city.get())
        monthdata=monthopt.index(month.get())+1
        print(entrypm2.get())
        res = clf.predict([[entrypm2.get(),entryno.get(),entryno2.get(),entrynox.get(),entryco.get(),entryso2.get(),entryo3.get(),entryben.get(),entrytol.get(),entryyear.get(),monthdata,entryday.get(),click]])
        res1=res.reshape(1,1)
        print(res)
        remark2 = rem.predict(res1)
        remark2=math.ceil(remark2)
        print(remark2)
        if(remark2 == 0):
            remark1="Good"
            impact="Minimal impact"
            label1.config(text=remark1,fg='green')
            label2.config(text=impact,fg='green')
    
        elif remark2 == 3:
            remark1="Satisfactory"
            impact="Minor breathing discomfort to sensitive people"
            label1.config(text=remark1)
            label2.config(text=impact,fg='red')
    
        elif remark2 == 1:
            remark1="Moderate"
            impact="Breathing discomfort to the people with lungs, asthma ans heart diseases"
            label1.config(text=remark1)
            label2.config(text=impact,fg='red')
    
        elif remark2 == 5:
            remark1="Very Poor"
            impact="Respiratory illness on prolonged exposure"
            label1.config(text=remark1)
            label2.config(text=impact,fg='red')
    
        elif remark2 == 2:
            remark1="Poor"
            impact="Breathing discomfort to most people"
            label1.config(text=remark1)
            label2.config(text=impact,fg='red')
        else:
            remark1="Severe"
            impact="Affect healthy people and seriously impacts those with existing diseases"
            label1.config(text=remark1)
            label2.config(text=impact,fg='red')
    
    except ValueError:
        remark1="Invalid Input"
        impact="Please Fill the boxes carefully"
        label1.config(text=remark1)
        label2.config(text=impact,fg='red')
        
def cleanbox():
    
    entrypm2.delete(0,'end')
    entryno.delete(0,'end')
    entryno2.delete(0,'end')
    entrynox.delete(0,'end')
    entryco.delete(0,'end')
    entryso2.delete(0,'end')
    entryo3.delete(0,'end')
    entryben.delete(0,'end')
    entrytol.delete(0,'end')
    entryyear.delete(0,'end')
    entryday.delete(0,'end')
    city.set("Ahmedabad")
    month.set("January")
    label1.config(text="")
    label2.config(text="")
    
#geometry
root.geometry("1000x667")
#Image
image = Image.open("background.jpg")
photo = ImageTk.PhotoImage(image)
bgd = Label(image=photo)
bgd.place(x=0,y=0)

#Heading
head=Label(root,text="Air Quality Index", font="Arial 15 bold",pady=10,highlightthickness=2,bg="#050A30",fg="White")

head.grid(row=0,column=3)



#creating Labels
Label(root,text="City",pady=10,bg="#050A30",fg="white",width=7).grid(row=1,column=0)
Label(root,text="PM2.5",pady=10,bg="#050A30",fg="white",width=7).grid(row=2,column=0)
Label(root,text="NO",pady=10,bg="#050A30",fg="white",width=7).grid(row=3,column=0)
Label(root,text="NO2",pady=10,bg="#050A30",fg="white",width=7).grid(row=4,column=0)
Label(root,text="NOx",pady=10,bg="#050A30",fg="white",width=7).grid(row=5,column=0)
Label(root,text="CO",pady=10,bg="#050A30",fg="white",width=7).grid(row=6,column=0)
Label(root,text="SO2",pady=10,bg="#050A30",fg="white",width=7).grid(row=7,column=0)
Label(root,text="O3",pady=10,bg="#050A30",fg="white",width=7).grid(row=8,column=0)
Label(root,text="Benzene",pady=10,bg="#050A30",fg="white",width=7).grid(row=9,column=0)
Label(root,text="Toluene",pady=10,bg="#050A30",fg="white",width=7).grid(row=10,column=0)
Label(root,text="Year",pady=10,bg="#050A30",fg="white",width=7).grid(row=11,column=0)
Label(root,text="Month",pady=10,bg="#050A30",fg="white",width=7).grid(row=12,column=0)
Label(root,text="Day",pady=10,bg="#050A30",fg="white",width=7).grid(row=13,column=0)
  
Label(root,text="Result : ",font="bold",bg="#050A30",fg="white",width=10).grid(row=21,column=0,sticky=W)

label1=Label(root,text="",font="bold")
label1.grid(row=20,column=3)

label2=Label(root,text="",font="bold")
label2.grid(row=21,column=3)

#create variable

city= StringVar()
pm2 = IntVar()
no = IntVar()
no2 = IntVar()
nox = IntVar()
co = IntVar()
so2 = IntVar()
o3 = IntVar()
ben = IntVar()
tol = IntVar()
year = IntVar()
month = StringVar()
day = IntVar()

#textbox:
entrypm2 = Entry(root,textvariable=pm2,text="",highlightthickness=2)
entryno = Entry(root,textvariable=no,text="",highlightthickness=2)
entryno2 = Entry(root,textvariable=no2,text="",highlightthickness=2)
entrynox = Entry(root,textvariable=nox,text="",highlightthickness=2)
entryco = Entry(root,textvariable=co,text="",highlightthickness=2)
entryso2 = Entry(root,textvariable=so2,text="",highlightthickness=2)
entryo3 = Entry(root,textvariable=o3,text="",highlightthickness=2)
entryben = Entry(root,textvariable=ben,text="",highlightthickness=2)
entrytol = Entry(root,textvariable=tol,text="",highlightthickness=2)
entryyear = Entry(root,textvariable=year,text="",highlightthickness=2)
entryday = Entry(root,textvariable=day,text="",highlightthickness=2)

#highlight boder

entrypm2.config(highlightbackground="#050A30")
entryno.config(highlightbackground="#050A30")
entryno2.config(highlightbackground="#050A30") 
entrynox.config(highlightbackground="#050A30") 
entryco.config(highlightbackground="#050A30")
entryso2.config(highlightbackground="#050A30") 
entryo3.config(highlightbackground="#050A30")
entryben.config(highlightbackground="#050A30") 
entrytol.config(highlightbackground="#050A30") 
entryyear.config(highlightbackground="#050A30")
entryday.config(highlightbackground="#050A30") 




entrypm2 .grid(row=2,column=2,sticky=W)
entryno.grid(row=3,column=2,sticky=W)
entryno2.grid(row=4,column=2,sticky=W)
entrynox .grid(row=5,column=2,sticky=W)
entryco.grid(row=6,column=2,sticky=W)
entryso2 .grid(row=7,column=2,sticky=W)
entryo3.grid(row=8,column=2,sticky=W)
entryben .grid(row=9,column=2,sticky=W)
entrytol.grid(row=10,column=2,sticky=W)
entryyear .grid(row=11,column=2,sticky=W)
entryday.grid(row=13,column=2,sticky=W)


#dropdown
option = ['Ahmedabad', 'Aizawl', 'Amaravati', 'Amritsar', 'Bengaluru',
      'Chandigarh', 'Chennai', 'Coimbatore', 'Delhi', 'Gurugram',
       'Hyderabad', 'Jaipur', 'Kolkata', 'Lucknow', 'Patna', 'Shillong',
       'Talcher', 'Visakhapatnam']

monthopt= ["January","Febuary","March","April","May","June","July","August","September","October","November","December"]

city.set("Ahmedabad")
month.set("January")

drop = OptionMenu(root, city, *option)
drop.grid(row=1,column=2)

monthdrop=OptionMenu(root,month,*monthopt)
monthdrop.grid(row=12,column=2)

    
#button
Button(text="Submit", command=airinfo,font="Arial 12 bold",width=10,fg="#050A30").grid(row=7,column=5,sticky=W)
Button(text="Clear", command=cleanbox,font="Arial 12 bold",width=10,fg="#050A30").grid(row=3,column=5,sticky=W)
Button(text="Exit", command=root.destroy,font="Arial 12 bold",width=10,fg="#050A30").grid(row=5,column=5,sticky=W)
root.mainloop()

100

C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

[522.]
4

C:\Users\HP\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [ ]:
# from sklearn.linear_model import LinearRegression,LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score,r2_score

In [ ]:
# data1=data.drop(["City","AQI_Bucket","Remark"],axis=1)
# train=data1.drop("AQI",axis=1)
# test=data1["AQI"]
# lr=LinearRegression().fit(train,test)
# r2_score(test,lr.predict(train))

In [ ]:
# from sklearn.ensemble import RandomForestClassifier
# clf = RandomForestClassifier(n_estimators = 50)
# clf.fit(train,test)

In [ ]:
# x = data[["AQI"]]
# y = data[["Remark"]]
# x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5,random_state=42)


# rem = RandomForestClassifier(n_estimators = 5).fit(x,y)

In [ ]:
# from tkinter import *
# from PIL import Image, ImageTk

# root = Tk()
# root.title("Air Quality Index")
# def airinfo():
#     try:
#         click = option.index(city.get())
#         monthdata=monthopt.index(month.get())+1
#         print(entrypm2.get())
#         res = clf.predict([[entrypm2.get(),entryno.get(),entryno2.get(),entrynox.get(),entryco.get(),entryso2.get(),entryo3.get(),entryben.get(),entrytol.get(),entryyear.get(),monthdata,entryday.get(),click]])
#         res1=res.reshape(1,1)
#         print(res)
#         remark2 = rem.predict(res1)
#         remark2=math.ceil(remark2)
#         print(remark2)
#         if(remark2 == 0):
#             remark1="Good"
#             impact="Minimal impact"
#             label1.config(text=remark1,fg='green')
#             label2.config(text=impact,fg='green')
    
#         elif remark2 == 3:
#             remark1="Satisfactory"
#             impact="Minor breathing discomfort to sensitive people"
#             label1.config(text=remark1)
#             label2.config(text=impact,fg='red')
    
#         elif remark2 == 1:
#             remark1="Moderate"
#             impact="Breathing discomfort to the people with lungs, asthma ans heart diseases"
#             label1.config(text=remark1)
#             label2.config(text=impact,fg='red')
    
#         elif remark2 == 5:
#             remark1="Very Poor"
#             impact="Respiratory illness on prolonged exposure"
#             label1.config(text=remark1)
#             label2.config(text=impact,fg='red')
    
#         elif remark2 == 2:
#             remark1="Poor"
#             impact="Breathing discomfort to most people"
#             label1.config(text=remark1)
#             label2.config(text=impact,fg='red')
#         else:
#             remark1="Severe"
#             impact="Affect healthy people and seriously impacts those with existing diseases"
#             label1.config(text=remark1)
#             label2.config(text=impact,fg='red')
    
#     except ValueError:
#         remark1="Invalid Input"
#         impact="Please Fill the boxes carefully"
#         label1.config(text=remark1)
#         label2.config(text=impact,fg='red')
        
# def cleanbox():
    
#     entrypm2.delete(0,'end')
#     entryno.delete(0,'end')
#     entryno2.delete(0,'end')
#     entrynox.delete(0,'end')
#     entryco.delete(0,'end')
#     entryso2.delete(0,'end')
#     entryo3.delete(0,'end')
#     entryben.delete(0,'end')
#     entrytol.delete(0,'end')
#     entryyear.delete(0,'end')
#     entryday.delete(0,'end')
#     city.set("Ahmedabad")
#     month.set("January")
#     label1.config(text="")
#     label2.config(text="")
    
# #geometry
# root.geometry("1000x667")
# #Image
# image = Image.open("background.jpg")
# photo = ImageTk.PhotoImage(image)
# bgd = Label(image=photo)
# bgd.place(x=0,y=0)

# #Heading
# head=Label(root,text="Air Quality Index", font="Arial 15 bold",pady=10,highlightthickness=2,bg="#050A30",fg="White")

# head.grid(row=0,column=3)



# #creating Labels
# Label(root,text="City",pady=10,bg="#050A30",fg="white",width=7).grid(row=1,column=0)
# Label(root,text="PM2.5",pady=10,bg="#050A30",fg="white",width=7).grid(row=2,column=0)
# Label(root,text="NO",pady=10,bg="#050A30",fg="white",width=7).grid(row=3,column=0)
# Label(root,text="NO2",pady=10,bg="#050A30",fg="white",width=7).grid(row=4,column=0)
# Label(root,text="NOx",pady=10,bg="#050A30",fg="white",width=7).grid(row=5,column=0)
# Label(root,text="CO",pady=10,bg="#050A30",fg="white",width=7).grid(row=6,column=0)
# Label(root,text="SO2",pady=10,bg="#050A30",fg="white",width=7).grid(row=7,column=0)
# Label(root,text="O3",pady=10,bg="#050A30",fg="white",width=7).grid(row=8,column=0)
# Label(root,text="Benzene",pady=10,bg="#050A30",fg="white",width=7).grid(row=9,column=0)
# Label(root,text="Toluene",pady=10,bg="#050A30",fg="white",width=7).grid(row=10,column=0)
# Label(root,text="Year",pady=10,bg="#050A30",fg="white",width=7).grid(row=11,column=0)
# Label(root,text="Month",pady=10,bg="#050A30",fg="white",width=7).grid(row=12,column=0)
# Label(root,text="Day",pady=10,bg="#050A30",fg="white",width=7).grid(row=13,column=0)
  
# Label(root,text="Result : ",font="bold",bg="#050A30",fg="white",width=10).grid(row=21,column=0,sticky=W)

# label1=Label(root,text="",font="bold")
# label1.grid(row=20,column=3)

# label2=Label(root,text="",font="bold")
# label2.grid(row=21,column=3)

# #create variable

# city= StringVar()
# pm2 = IntVar()
# no = IntVar()
# no2 = IntVar()
# nox = IntVar()
# co = IntVar()
# so2 = IntVar()
# o3 = IntVar()
# ben = IntVar()
# tol = IntVar()
# year = IntVar()
# month = StringVar()
# day = IntVar()

# #textbox:
# entrypm2 = Entry(root,textvariable=pm2,text="",highlightthickness=2)
# entryno = Entry(root,textvariable=no,text="",highlightthickness=2)
# entryno2 = Entry(root,textvariable=no2,text="",highlightthickness=2)
# entrynox = Entry(root,textvariable=nox,text="",highlightthickness=2)
# entryco = Entry(root,textvariable=co,text="",highlightthickness=2)
# entryso2 = Entry(root,textvariable=so2,text="",highlightthickness=2)
# entryo3 = Entry(root,textvariable=o3,text="",highlightthickness=2)
# entryben = Entry(root,textvariable=ben,text="",highlightthickness=2)
# entrytol = Entry(root,textvariable=tol,text="",highlightthickness=2)
# entryyear = Entry(root,textvariable=year,text="",highlightthickness=2)
# entryday = Entry(root,textvariable=day,text="",highlightthickness=2)

# #highlight boder

# entrypm2.config(highlightbackground="#050A30")
# entryno.config(highlightbackground="#050A30")
# entryno2.config(highlightbackground="#050A30") 
# entrynox.config(highlightbackground="#050A30") 
# entryco.config(highlightbackground="#050A30")
# entryso2.config(highlightbackground="#050A30") 
# entryo3.config(highlightbackground="#050A30")
# entryben.config(highlightbackground="#050A30") 
# entrytol.config(highlightbackground="#050A30") 
# entryyear.config(highlightbackground="#050A30")
# entryday.config(highlightbackground="#050A30") 




# entrypm2 .grid(row=2,column=2,sticky=W)
# entryno.grid(row=3,column=2,sticky=W)
# entryno2.grid(row=4,column=2,sticky=W)
# entrynox .grid(row=5,column=2,sticky=W)
# entryco.grid(row=6,column=2,sticky=W)
# entryso2 .grid(row=7,column=2,sticky=W)
# entryo3.grid(row=8,column=2,sticky=W)
# entryben .grid(row=9,column=2,sticky=W)
# entrytol.grid(row=10,column=2,sticky=W)
# entryyear .grid(row=11,column=2,sticky=W)
# entryday.grid(row=13,column=2,sticky=W)


# #dropdown
# option = ['Ahmedabad', 'Aizawl', 'Amaravati', 'Amritsar', 'Bengaluru',
#       'Chandigarh', 'Chennai', 'Coimbatore', 'Delhi', 'Gurugram',
#        'Hyderabad', 'Jaipur', 'Kolkata', 'Lucknow', 'Patna', 'Shillong',
#        'Talcher', 'Visakhapatnam']

# monthopt= ["January","Febuary","March","April","May","June","July","August","September","October","November","December"]

# city.set("Ahmedabad")
# month.set("January")

# drop = OptionMenu(root, city, *option)
# drop.grid(row=1,column=2)

# monthdrop=OptionMenu(root,month,*monthopt)
# monthdrop.grid(row=12,column=2)

    
# #button
# Button(text="Submit", command=airinfo,font="Arial 12 bold",width=10,fg="#050A30").grid(row=7,column=5,sticky=W)
# Button(text="Clear", command=cleanbox,font="Arial 12 bold",width=10,fg="#050A30").grid(row=3,column=5,sticky=W)
# Button(text="Exit", command=root.destroy,font="Arial 12 bold",width=10,fg="#050A30").grid(row=5,column=5,sticky=W)
# root.mainloop()